/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  background: #282828;
}

a {
  text-decoration: none;
}

.fa-bars,
.fa-undo-alt,
.fa-redo-alt,
.fa-plus,
.fa-minus,
.fa-paint-brush,
.fa-eraser,
.fa-tint,
.fa-eye-dropper,
.fa-ban,
.fa-file,
.fa-ellipsis-h,
.fa-lock-open,
.fa-lock,
.fa-th,
.fa-eye,
.fa-eye-slash,
.fa-plus-square,
.fa-trash-alt {
  color: #a3a3a3;
  -webkit-filter: drop-shadow(2px 2px #000);
  filter: drop-shadow(2px 2px #000);
}

.fa-bars:hover,
.fa-undo-alt:hover,
.fa-redo-alt:hover,
.fa-plus:hover,
.fa-minus:hover,
.fa-paint-brush:hover,
.fa-eraser:hover,
.fa-tint:hover,
.fa-eye-dropper:hover,
.fa-ban:hover,
.fa-file:hover,
.fa-ellipsis-h:hover,
.fa-lock-open:hover,
.fa-lock:hover,
.fa-th:hover,
.fa-eye:hover,
.fa-eye-slash:hover,
.fa-plus-square:hover,
.fa-trash-alt:hover {
  color: #e9722a;
  cursor: pointer;
}

/* FULL WEBSITE */
.full-website {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  position: relative;
}

/* MAIN NAV */
.main-nav {
  width: 100%;
  background: #535353;
  border-bottom: 3px solid #e9722a;
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  position: fixed;
  z-index: 10000;
}

.main-nav-item {
  align-self: center;
  display: flex;
}

.main-nav-item span,
.main-nav-item form {
  align-self: center;
  margin: 0 5px;
}

.main-nav a,
.fa-undo-alt,
.fa-redo-alt {
  color: #a3a3a3;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 2px 2px #000;
}

.main-title a:hover {
  color: #e9722a;
}

.main-nav-item:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.main-nav-item:nth-child(3) .icon-click {
  margin: 0 10px;
}

.main-nav-item:nth-child(3) .icon-click:nth-child(3) {
  margin: 0 0 0 10px;
}

#workspaces-form select {
  background: #747474;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  text-transform: uppercase;
  border: 2px solid #e9722a;
}

#workspaces-form select:hover {
  background: #e9722a;
}

/* WEBSITE CONTENT */
.website-content {
  background: #282828;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px 2% 200px 2%;
}

.fa-plus-circle {
  color: #3cc12e;
  background: #fff;
  border-radius: 50%;
  font-size: 10em;
  box-shadow: 0 0 200px #e9722a;
}

.fa-plus-circle:hover {
  cursor: pointer;
  color: #2a8720;
}


/* CREATE GRID POPUP */
.create-grid-popup {
  width: 300px;
  height: 320px;
  background: #fff;
  box-shadow: 0 0 100px #e9722a;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 5px 10px;
  font-weight: bold;
}

.create-grid-popup form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.predifined-sizes select,
.grid-custom-sizes input {
  background: #747474;
  border: 3px solid #e9722a;
  margin: auto;
  padding: 5px 2%;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.grid-custom-sizes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.predifined-sizes,
.grid-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-pickers {
  width: 100%;
}

.color-pickers input[type="color"] {
  width: 32px;
  height: 32px;
  -webkit-appearance: none;
  border: none;
  margin: 0 10px 0 0;
}

.color-pickers input[type="color"]:hover {
  cursor: pointer;
}

.color-pickers input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-pickers input[type="color"]::-webkit-color-swatch {
  border: 3px solid #272727;
  border-radius: 5px;
}

.grid-colors {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.create-canvas-btn {
  background: #e9722a;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 3px solid #272727;
  border-radius: 5px;
  font-weight: bold;
}

.create-canvas-btn:hover {
  background: #272727;
  border-color: #e9722a;
  cursor: pointer;
}

/* CANVAS TABLE */
.container-canvas {
  position: relative;
  background-image: url("images/background.png");
}

.canvas-table {
  z-index: 1;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table td {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

table td:hover {
  cursor: pointer;
}

table.layers-added {
  position: absolute;
  top: 0;
  left: 0;
}

/* MAIN MENU */
.main-menu {
  width: 250px;
  background: #535353;
  border: 3px solid #e9722a;
  border-bottom: none;
  position: fixed;
  top: 70px;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  z-index: 1000;
  text-shadow: 2px 2px #000;
}

.main-menu ul {
  padding: 0;
  list-style: none;
}

.main-menu li {
  height: 30px;
  padding: 5px 10px;
  border-bottom: 3px solid #e9722a;
}

.main-menu li:hover {
  background: #363636;
  cursor: pointer;
  color: #e9722a;
}

/* SETTINGS MENU */
.settings-popup {
  border-bottom: 3px solid #e9722a;
  padding: 5px 10px;
  z-index: 10000;
}

.settings-item {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-item label {
  margin: 0 10px 0 0;
}

.settings-item:nth-child(1) {
  border-bottom: 3px solid #e9722a;
}

#settigs-grid-color {
  width: 32px;
  height: 32px;
  -webkit-appearance: none;
  border: none;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

#settigs-grid-color:hover {
  cursor: pointer;
}

#settigs-grid-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

#settigs-grid-color::-webkit-color-swatch {
  border: 3px solid #272727;
  border-radius: 5px;
}

#settings-cell-size {
  background: #747474;
  border: 3px solid #e9722a;
  margin: auto;
  padding: 5px 2%;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.settings-save {
  background: #e9722a;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 3px solid #272727;
  border-radius: 5px;
  font-weight: bold;
}

.settings-save:hover {
  background: #272727;
  border-color: #e9722a;
  cursor: pointer;
}

/* COLOR PALETTE MENU */
.color-palette-menu {
  width: 250px;
  background: #535353;
  border: 3px solid #e9722a;
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  z-index: 10000;
  text-shadow: 2px 2px #000;
}

.color-palette-menu ul {
  list-style: none;
  padding: 0;
}

.color-palette-menu li {
  padding: 10px;
}

.color-palette-menu li:hover {
  cursor: pointer;
  color: #e9722a;
}

/* LAYER POPUP */
.layer-popup {
  width: 250px;
  background: #535353;
  border: 3px solid #e9722a;
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  z-index: 10000;
  text-shadow: 2px 2px #000;
}

.layers-main-icons,
.layers-manage-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.layers-box {
  padding: 10px;
  z-index: 10000;
}

.layers-main-icons {
  border-bottom: 3px solid #e9722a;
}

.layers-manage-icons {
  border-top: 3px solid #e9722a;
}

.layers-main-icons .fa-lock-open,
.layers-main-icons .fa-lock,
.layers-main-icons .fa-th,
.layers-main-icons .fa-eye,
.layers-main-icons .fa-eye-slash,
.layers-manage-icons .fa-plus-square,
.layers-manage-icons .fa-trash-alt {
  font-size: 2em;
}

#layers-opacity-form {
  width: 80px;
}

#layers-opacity-input {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #282828;
  border-radius: 50px;
}

#layers-opacity-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e9722a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

#layer-name-input {
  width: 150px;
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #e9722a;
}

.layers {
  background: #282828;
  width: 90%;
  border: 1px solid #e9722a;
  margin: auto;
  padding: 5px;
}

.layers.active-layer {
  background: #e9722a;
}

/* IMAGE OUT */
.download {
  position: fixed;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 11000;
}

canvas {
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

/* TOOLS BAR */
.tools-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.tools-bar-inside {
  background: #535353;
  border: 3px solid #e9722a;
  width: 80%;
  margin: auto;
  padding: 20px 2%;
}

.tools-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#zoom-form {
  width: 80%;
  margin: 0 10px;
}

#zoom-input {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #282828;
  border-radius: 50px;
}

#zoom-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #e9722a;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-plus,
.fa-minus {
  font-size: 2em;
}

.main-tools {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 0 auto;
  width: 80%;
}

.main-tools .tools-bar-item {
  width: 40%;
  justify-content: space-between;
}

.color-item {
  height: 2.5em;
  width: 2.5em;
  background: #fff;
  border: 2px solid #272727;
  border-radius: 5px;
  cursor: pointer;
}

#color-item-1 {
  background-color: #cb1c00;
}

#color-item-2 {
  background-color: #679a00;
}

#color-item-3 {
  background-color: #0098d1;
}

#color-item-4 {
  background-color: #000000;
}

.fa-paint-brush,
.fa-eraser,
.fa-tint,
.fa-eye-dropper,
.fa-ban,
.fa-file,
.fa-ellipsis-h {
  font-size: 2em;
}

.color-picker-block {
  position: relative;
  background: none;
  height: 2.5em;
  width: 2.5em;
  border: none;
}

#back-color,
#tool-color,
#back-color-es,
#tool-color-es {
  height: 2em;
  width: 2em;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

#back-color,
#back-color-es {
  top: 0;
  left: 0;
}

#tool-color,
#tool-color-es {
  bottom: 0;
  right: 0;
  z-index: 1;
}

.tools-item-color {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
}

.tools-item-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.tools-item-color::-webkit-color-swatch {
  border: 3px solid #272727;
  border-radius: 5px;
}


/* RESPONSIVE MEDIUM 1024PX */
@media screen and (max-width: 1024px) {
  /* TOOLS BAR */
  .tools-bar-inside {
    width: 100%;
  }
}


/* RESPONSIVE MEDIUM 767PX */
@media screen and (max-width: 767px) {
  /* GENERAL */
  .no-mobile {
    display: none;
  }

  /* NAV BAR */
  .main-title.no-mobile {
    display: none;
  }

  #workspaces-form #workspaces-select {
    font-size: 0.8em;
  }

  /* COLOR PALETTE POPUP */
  .color-palette-menu {
    bottom: 135px;
  }

  /* TOOLS BAR */
  .main-tools {
    flex-direction: column;
  }

  .tools-bar-inside {
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools-bar-inside .color-item {
    height: 1.5em;
    width: 1.5em;
    background: #fff;
    border: 1px solid #272727;
  }

  .tools-bar-inside .color-picker-block {
    height: 2.5em;
    width: 2.5em;
    background: none;
    border: none;
  }

  .fa-paint-brush,
  .fa-eraser,
  .fa-tint,
  .fa-eye-dropper,
  .fa-ban,
  .fa-file,
  .fa-ellipsis-h {
    font-size: 1.5em;
  }

  .tools-bar-item #zoom-input::-webkit-slider-thumb {
      width: 16px;
      height: 16px;
  }

  .fa-plus,
  .fa-minus {
    font-size: 1.2em;
  }

  .main-tools {
    margin: 10px 0 0 0;
  }

  .main-tools .tools-bar-item {
    width: 100%;
    margin: 5px 0;
  }

  #zoom-form {
    width: 70%;
  }
}


/* RESPONSIVE MEDIUM 480PX */
@media screen and (max-width: 480px) {
  /* MAIN MENU */
  .main-menu {
    top: 55px;
  }
}


/* RESPONSIVE HEIGHT < 540PX */
@media screen and (max-height: 640px) {
  /* WEBSITE CONTENT */
  .fa-plus-circle {
    font-size: 5em;
  }
}

/* ESSENTIAL WORKSPACE DESKTOP */
/* -------------------------------------------- */
.items-essential-ws {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  z-index: 10000;
}

.item-essential-ws .fa-plus-circle {
  font-size: 2em;
  color: #a3a3a3;
  -webkit-filter: drop-shadow(2px 2px #000);
  filter: drop-shadow(2px 2px #000);
  background: none;
  box-shadow: none;
}

.item-essential-ws .fa-plus-circle:hover {
  color: #e9722a;
}

.items-essential-ws .fa-undo-alt {
  font-size: 2em;
}

/* ESSENTIAL WORKSPACE TABLET < 767PX */
/* -------------------------------------------- */
@media screen and (max-width: 767px) {
  .items-essential-ws .fa-undo-alt {
    font-size: 1.5em;
  }
}

/* LEFT WORKSPACE DESKTOP */
/* -------------------------------------------- */
.tools-bar.left-ws {
  position: absolute;
  position: fixed;
  top: 70px;
  left: 0;
  width: 90px;
}

.main-tools.left-ws,
.tools-bar-item.left-ws {
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tools-bar-item.left-ws .color-item,
.tools-bar-item.left-ws .icon-click {
  margin: 5px 0;
}

#zoom-form.zoom-form-left-ws,
#zoom-form.zoom-form-left-ws input {
  width: 75px;
}

.tools-bar-item.left-ws {
  width: 75px;
}

.tools-bar-inside.left-ws {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tools-bar-item.left-ws #zoom-input::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
}

.color-palette-menu.left-ws {
  top: 70px;
  bottom: auto;
  left: 220px;
}

.layer-popup.left-ws {
  top: 70px;
  bottom: auto;
  left: 220px;
}

/* LEFT WORKSPACE MOBILE < 767PX */
@media screen and (max-width: 767px) {
  .tools-bar.left-ws {
    top: 55px;
  }

  .tools-bar-item.left-ws #zoom-input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  .tools-bar-item.left-ws,
  .main-tools.left-ws {
    margin: 2px 0;
  }

  .color-palette-menu.left-ws {
    top: 55px;
  }

  .layer-popup.left-ws {
    top: 55px;
  }
}

/* DISBABLED */
.main-menu .disabled-text {
  color: #a3a3a3;
}

.main-menu .disabled-text:hover {
  background: #535353;
  color: #a3a3a3;
  cursor: default;
}

/* SELECTED TOOL */
.selected-tool .fa-paint-brush,
.selected-tool .fa-eraser,
.selected-tool .fa-tint,
.selected-tool .fa-eye-dropper {
  color: #e9722a;
}

/* VISIBILITY LAYERS */
.hide-visibility {
  color: #a3a3a3;
}

/* LOCK LAYERS */

.lock-layer {
  color: #a3a3a3;
  background: #a3a3a3;
}

.layers.active-layer.lock-layer {
  background: #a3a3a3;
  color: #fff;
}

/* PARTIALLY LOCK LAYERS */
.part-lock .fa-th {
  color: #e9722a;
}

.part-lock {
  color: #e9722a;
}

/* HIDDEN */
.full-website .hidden {
  display: none;
}

.hidden {
  display: none;
}

.full-website #tools-bar.hidden {
  display: none;
}
